# ml
torch>=2.2.0
torchvision>=0.20.1
transformers>=4.38.0
pillow>=11.0.0
numpy>=1.26.4
# web framework
fastapi>=0.109.1
uvicorn==0.21.1
python-multipart>=0.0.20
# for tests
pytest>=8.3.4
pytest-asyncio>=0.25.0
pandas>=2.2.3
# Code formatting
black>=24.3.0
isort>=5.12.0
